@page
@model eKIBRA.Web.Pages.DeckPage.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<partial name="_ValidationAuthenticationCheckPartial" />

<h4>Delete a Deck</h4>

<partial name="_ValidationStatusMessagePartial" for="StatusMessage" />

@{ if (string.IsNullOrWhiteSpace(Model.Input?.Id))
   {
       <p>
           <a asp-page="./Index">Back to List</a>
       </p>
       return; 
   }
}

<p>
    <a asp-page="./Create">Create New</a> |
    <a asp-page="./Edit" asp-route-id="@Model.Input.Id">Edit</a> |
    <a asp-page="./Details" asp-route-id="@Model.Input.Id">Details</a> |
    <a asp-page="./Index">Back to List</a>
</p>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Title)
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Description)
        </dd>
        <dt class="col-sm-2">
            Created
        </dt>
        <dd class="col-sm-10">
            @Model.Input.Created.ToString("dd.MMM.yyyy HH:mm")
        </dd>
        <dt class="col-sm-2">
            Modified
        </dt>
        <dd class="col-sm-10">
            @Model.Input.Modified?.ToString("dd.MMM.yyyy HH:mm")
        </dd>
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Id)
        </dd>
    </dl>
    <hr />
    <form method="post">
        <input type="hidden" asp-for="Input.Id" />
        <h5>Are you sure you want to delete this? </h5>
        <p>This action will remove the associated items (e.g. Flashcards, Study)</p>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
