@page
@model eKIBRA.Web.Pages.StudyPage.StudyModel

@{
    ViewData["Title"] = "Study";
}
<partial name="_ValidationAuthenticationCheckPartial" />

@{ if (string.IsNullOrWhiteSpace(Model.Input?.Id)) return; }

<h4>Studying Session - Deck (@Html.DisplayFor(model => model.Input.LinkedDeck.Title))</h4>

<partial name="_ValidationStatusMessagePartial" for="StatusMessage" />

@{
    /*var prevDisabled = !Model.Data.EntityList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Data.EntityList.HasNextPage ? "disabled" : "";
    var progress = Model.Data.EntityList.PageIndex / Model.Data.EntityList.TotalPages;
    var questionIndex = Model.Data.EntityList.PageIndex;
    var questionTotal = Model.Data.EntityList.TotalPages;
    var displayRemember = Model.Input.Remembers == 0;*/
}

<p>
    @*<a asp-page="./Create">Create New</a> |
    <a asp-page="./Details" asp-route-id="@Model.Input.Id">Details</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Input.Id">Delete</a> |
    <a asp-page="./Index">Back to List</a>*@
</p>
<hr />


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input type="hidden" asp-for="Input.Id" />
            <div class="container">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Question 1 of 10</h4>
                        </div>
                        <div class="card-body">
                            <p>@Model.Input.LinkedFlashcard.Question</p>
                            <hr/>
                            <p>@Model.Input.LinkedFlashcard.Answer</p>
                        </div>
                        <div class="card-footer">
                            @*<button id="save-book-button" type="submit" class="btn btn-primary"></button>*@
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Reveal</button>
                            <button type="button" class="btn btn-lg btn-block btn-outline-success">Remember</button>
                            <button type="button" class="btn btn-lg btn-block btn-outline-danger">Forgot</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}