@page
@model eKIBRA.Web.Pages.StudyPage.StudyModel

@{
    ViewData["Title"] = "Study";
}
<partial name="_ValidationAuthenticationCheckPartial" xmlns="http://www.w3.org/1999/html"/>

<h4>Studying Session</h4>

@{ if (Model.Input is null || string.IsNullOrWhiteSpace(Model.Input.StudySessionId)) return; }
<p>
    <a asp-page="./Create">Create New</a> |
    <a asp-page="./Statistic" asp-route-id="@Model.Input.StudySessionId">Statistic</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Input.StudySessionId">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</p>

<partial name="_ValidationStatusMessagePartial" for="StatusMessage" />

@{
    var noQuestionLeft = Model.Input.NoQuestionLeft ? "disabled" : "";
}

<hr />

<div class="row align-items-center">
    <div class="row-cols-md-auto">
        <form method="post"
              asp-route-id="@Model.Input.StudySessionId">
            <input type="hidden" asp-for="Input.UserId" value="@Model.Input.UserId" />
            <input type="hidden" asp-for="Input.StudySessionId" value="@Model.Input.StudySessionId" />
            <input type="hidden" asp-for="Input.DeckId" value="@Model.Input.DeckId"/>
            <input type="hidden" asp-for="Input.FlashcardId" value="@Model.Input.FlashcardId"/>
            <input type="hidden" asp-for="Input.FlashcardProgressId" value="@Model.Input.FlashcardProgressId"/>
            <input type="hidden" asp-for="Input.VersionReveal" value="@Model.Input.VersionFeedback"/>
            <input type="hidden" asp-for="Input.VersionFeedback" value="@Model.Input.VersionFeedback" />
            
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="container align-content-center">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <div class="card-subtitle">Deck (@Model.Input.DeckTitle)</div>
                            <h5 class="my-0 font-weight-normal">
                                Question @Model.Input.QuestionsProgress of @Model.Input.TotalOfQuestions
                            </h5>
                        </div>
                        <div class="card-body">
                            <br/>
                            <br/>
                            @if (Model.Input.NoQuestionLeft)
                            {
                                <span>No Questions Left</span>
                            }
                            @if (!Model.Input.NoQuestionLeft)
                            {
                                @Model.Input.Question
                            }
                            <hr/>
                            <br/>
                            <br/>
                            @if (!Model.Input.ShowAnwserText)
                            {
                                <span>. . .</span>
                            }
                            @if (Model.Input.ShowAnwserText)
                            {
                                @Model.Input.Answer
                            }
                            <hr/>
                            <br/>
                            <div class="row">
                                <div class="col">
                                    @if (Model.Input.ShowRevealButton)
                                    {

                                        <input type="submit" asp-for="Input.Command" value="@StudyViewModelCommand.Reveal"
                                               class="btn btn-lg btn-block btn-outline-primary @noQuestionLeft"/>

                                    }
                                    @if (!Model.Input.ShowRevealButton)
                                    {
                                        <input type="submit" asp-for="Input.Command" value="@StudyViewModelCommand.Remember"
                                               class="btn btn-lg btn-block btn-outline-success @noQuestionLeft"/>

                                        <input type="submit" asp-for="Input.Command" value="@StudyViewModelCommand.Forgot"
                                               class="btn btn-lg btn-block btn-outline-danger @noQuestionLeft"/>

                                        <br/>
                                        <br/>

                                        <select asp-for="@Model.Input.Level" class="btn btn-lg btn-block  @noQuestionLeft"
                                                asp-items="Html.GetEnumSelectList<DifficultyLevel>()"
                                                placeholder="Status">
                                            <option value="">Select a value</option>
                                        </select>
                                        <br/>
                                        <br/>
                                        <span asp-validation-for="Input.Level" class="text-danger"></span>

                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
            
                        </div>     
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
